/* body { */
/*     text-align: center; */
/* } */
.projectCircle {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.projectCircle>img {
  width: 40%;
  border-radius: 15px;
  /* border: 2px solid #000; */
  /* margin: 10px; */
  padding: 5px;
}

/**/
/* .projectCircle .tag { */
/*   background-color: rgba(235, 0, 0, 0.1); */
/*   border: 2px solid rgba(255, 0, 0, 0.1); */
/*   border-radius: 15px; */
/*   display: inline-block; */
/*   padding: 0 3px 3px 3px; */
/* } */

.projectCircle>h4 {
  margin-top: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}
