* {
  font-family: "Noto Sans Mono", sans-serif;
  font-size: 10pt;
  background-color: black;
  color: white;
}

code {
  color: gray;
}

ul {
  margin-top: 5px;
}

#output {
  display: block;
  /* height: 250px; */
  overflow: auto;
  /* background-color: aqua; */
}

#inputarea {
  width: 50%;
  resize: none;
  border: none;
  outline: none;
}
